/* Basic CSS for the layout */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; 
    */
    background: url(141354965-electronic-devices-icons-with-white-background-vector.jpg);
}

header {
    /* background-color: #333; */
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 20px 20px 30px;
    background-color: #7579ff;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: 90%;
    
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
span{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float:right;
   
}
span a{
    text-decoration: none;
    color:#fff;
    /* float: right; */
}
form button:hover {
    background-color: #555;
}
.details{
    /* border: 1px solid; */
    padding: 10px;
}

